body {
    font-family: "San Francisco",Helvetica,Arial,sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}

.navbar-container .navbar {
    background-color: #fff;
    transition: all .2s ease-in;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}
@media (max-width: 991px) {
    .navbar-container .navbar .navbar-nav {
        padding: 16px;
        border-radius: 10px;
        background-color: #fff;
    }
}

.container {
    margin: 0 auto;
    padding: 0;
}
@media only screen and (max-width: 767px) {
    .container {
        width: 300px;
    }
}

  .img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    border: none;
    max-width: 100%;
}

#about {
    background-color: #03A9F4;
}
#communities {
    background-color: #90ee90;
}
section {
    padding: 128px 0;
}
.title {
    padding: 20px;
}
